.CharityInformation {
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

.CharityInformation img {
  width: 15%;
  min-width: 50px;
  max-width: 100px;
  height: auto;
  margin-right: 8px;
}

h2 {
  font-size: 20px;
}

.CharityInformation p {
  font-weight: 500;
  font-size: 14px;
  margin: 8px 0;
}

.Loader {
  text-align: center;
  margin-top: 48px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 24px;
  }

  .CharityInformation p {
    font-size: 16px;
  }
}